*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.mainApp{
    width: 350px;
    margin: 0 auto;
    border: 2px solid orange;
    height: 200px;
    background-color: rgb(251, 255, 0);
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
}
h1{
    padding: 10px 0px 40px;
    font-size: 2rem;
    font-weight: 300;
    color: black;
}

input{
width: 60%;
height: 30px;
background-color: rgba(56, 8, 230, 0.2);
border: none;

}

select{
    height: 30px;
    border: none;
    background-color: rgba(56, 8, 230, 0.2);
}

.outputInfo{
margin-top: 20px;
font-weight: 300;
font-size: 16px;
}