* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

.icon {
  padding: 4px;
  cursor: pointer;
  margin: 0 3px;
}

.icon i {
  color: #3ad07a;
  font-size: 20px;
}

.icon:hover {
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(225, 225, 225, 0.678);
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  width: 400px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
}

.sidebar header {
  position: relative;
  z-index: 2;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
  border-bottom: 1px solid #efefef;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sidebar header .logo {
  display: inline-block;
}

.sidebar header .logo i {
  color: rgba(97, 97, 97, 0.678);
  font-size: 25px;
}

.sidebar header .logo h3 {
  margin-left: 10px;
  font-weight: 700;
  color: rgba(97, 97, 97, 0.678);
  display: inline-block;
}

.sidebar .myInfo {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: -250px;
  z-index: 1;
}

.sidebar .myInfo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #3ad07a;
}

.sidebar .myInfo h2 {
  font-size: 0.9rem;
}

.sidebar .myInfo p {
  color: rgba(97, 97, 97, 0.678);
  font-size: 0.8rem;
}

.sidebar .myInfo .currentUserSettings {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar .myInfo .currentUserSettings .icon {
  margin-left: 6px;
}

.sidebar .findChatUser {
  width: 100%;
  padding: 0 7px;
  position: relative;
  margin: 5px 0;
}

.sidebar .findChatUser input {
  border: 1px solid #e0e0e0;
  background-color: rgba(225, 225, 225, 0.678);
  height: 36px;
  border-radius: 25px;
  width: 100%;
  outline: none;
  padding: 0.2em 1em;
  color: rgba(97, 97, 97, 0.678);
}

.sidebar .findChatUser input:focus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #3ad07a;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
}

.sidebar .findChatUser i {
  color: rgba(97, 97, 97, 0.678);
  position: absolute;
  right: 18px;
  top: 32%;
  cursor: pointer;
}

.sidebar .findChatUser i:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: rgba(46, 46, 46, 0.678);
}

.sidebar .allChatFriends {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .allChatFriends .chatFriend {
  padding: 15px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px auto auto;
      grid-template-columns: 60px auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .allChatFriends .chatFriend .friendPhoto {
  position: relative;
  width: 60px;
}

.sidebar .allChatFriends .chatFriend .friendPhoto img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.sidebar .allChatFriends .chatFriend .friendPhoto .online {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3ad07a;
  border: 2px solid white;
  bottom: 3px;
  right: 3px;
}

.sidebar .allChatFriends .chatFriend .chatFriendName {
  text-align: left;
  margin-left: 10px;
}

.sidebar .allChatFriends .chatFriend .chatFriendName h2 {
  font-size: 0.9rem;
}

.sidebar .allChatFriends .chatFriend .chatFriendName p {
  color: rgba(97, 97, 97, 0.678);
  font-size: 0.8rem;
}

.sidebar .allChatFriends .chatFriend .unreadMessages {
  text-align: right;
}

.sidebar .allChatFriends .chatFriend .unreadMessages .messagesCount {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3ad07a;
  font-size: 12px;
  color: white;
  vertical-align: middle;
}

.sidebar .allChatFriends .chatFriend .unreadMessages .time {
  font-size: 0.6rem;
  color: rgba(97, 97, 97, 0.678);
}

.sidebar .allChatFriends .chatFriend:hover {
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #dff7e9;
}

.preview {
  text-align: center;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40%;
}

.preview img {
  -o-object-fit: cover;
     object-fit: cover;
}

.preview h1 {
  color: rgba(97, 97, 97, 0.678);
  font-size: 1.7rem;
}

.chatField {
  background: no-repeat #3ad07a1f url("../static/chat-box-bg.png");
  background-size: 100%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chatField .userInfo {
  border-left: 1px solid #efefef;
  padding: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
}

.chatField .userInfo .currentUserInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatField .userInfo .currentUserInfo img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.chatField .userInfo .currentUserInfo h2 {
  margin-left: 10px;
  font-size: 0.9rem;
}

.chatField .currentUserMessages {
  height: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  color: #fff;
}

.chatField .currentUserMessages .lastMessageDate {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  text-align: center;
  display: inline;
  font-size: 14px;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.2);
}

.chatField .currentUserMessages .userMessage {
  margin-top: 15px;
  padding: 15px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
  color: black;
  border-radius: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: auto;
  overflow: hidden;
  max-width: 70%;
}

.chatField .currentUserMessages .myMessage {
  margin-top: 15px;
  padding: 15px;
  background-color: #3ad07a;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
  border-radius: 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: auto;
  overflow: hidden;
  max-width: 70%;
  min-height: 40px;
}

.chatField .newMessageInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
  padding: 10px;
}

.chatField .newMessageInput textarea {
  display: inline-block;
  width: 100%;
  border: 2px solid #efefef;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

.chatField .newMessageInput textarea:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 2px solid #3ad07a;
}

.chatField .newMessageInput textarea:focus {
  border: 2px solid #3ad07a;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
}

.chatField .newMessageInput .icon {
  text-align: center;
  width: 30px;
  display: inline-block;
  margin: 0 10px;
}

.clickUser {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
}

@media (max-width: 640px) {
  .sidebar {
    width: 100vw;
  }
  .preview {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */